<!DOCTYPE html>
<html>
<head>

</head>
<body>
<header class="header clearfix"> 
  {% if page.primary_menu %}
    <nav class="primary-menu">
      {{ page.primary_menu }}
    </nav>
  {% endif %} 
  <div class="site-branding-xtractr">
    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </div>
  {% if page.navigation %}
    <nav class="navigation">
      {{ page.navigation }}
    </nav>
  {% endif %}
</header>

<div class="main-content clearfix">
  <section class="content">
    {{ page.content }}
  </section>
  {% if user.isAuthenticated() %}
    <aside class="sidebar">
      {% if page.sidebar_first %}
        {{ page.sidebar_first }}
      {% endif %}
    </aside>
  {% endif %}
</div>

<footer>
  <div class="footer-content">
    {{ page.footer }}
  </div>
  <h1>Texteame 2023, Grupo TTA</h1>
</footer>
</body>
</html>

